@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300;1,400;1,500;1,600&display=swap');

:root {
  --orange: rgb(255, 53, 39);
  --purple: rgb(105, 0, 129);
  --text: rgb(31, 0, 80);
  --input-text: rgba(31, 0, 80, 0.7);
  --background: rgb(189, 226, 233);
  --input-background: rgb(222, 239, 243);
  --video: rgb(0, 122, 193);
  --orange-hover: rgb(250, 148, 141);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

body {
  background-color: var(--background);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--purple);
  font-size: 3em;
}

h3 {
  color: var(--orange);
  font-size: 2em;
  display: inline-block;
}

p {
  margin-bottom: 0;
  font-size: 1.1em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main-img {
  background-image: radial-gradient(closest-side, #fff, var(--background));
}

.main-img img {
  max-width: 100%;
}

.highlight {
  color: white;
  background-color: var(--orange);
}

.vl {
  text-align: right;
  border-right: 5px solid var(--purple);
}

.dotted-bottom {
  border-bottom: var(--purple) dotted;
}

.video {
  width: 100%;
  height: 200px;
  background-color: var(--video);
  display: grid;
  place-items: center;
}

.course-icon {
  max-width: 66px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
}

.course-aval {
  padding: 2px 15px 4px;
  display: inline-block;
  margin-left: 10px;
}

.description {
  font-size: 1.3em;
}

.side-intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.side-intro h3 {
  font-size: 2.5em;
  margin: 0 auto;
  width: 80%;
}

.form-input {
  width: 100%;
  position: relative;
  height: 50px;
}

.form-input input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 14px;
  color: var(--input-text);
  border: none;
  outline: none;
  background: transparent;
}

.form-input label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: var(--text);
  pointer-events: none;
  border-bottom: 2px solid var(--orange);
}

.form-input label:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid var(--text);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.form-input .content-input {
  position: absolute;
  bottom: 3px;
  left: 3px;
  transition: all 0.3s ease;
}

/* Animações */
/* este seletor significa: quando o foco está no input, quero alterar este label */
.form-input input:focus + .label-input .content-input,
.form-input input:not(:placeholder-shown) + .label-input .content-input {
  transform: translateY(-80%);
  font-size: 14px;
  color: var(--orange);
}

.form-input input:focus + .label-input:after {
  transform: scaleX(1);
}

.select label {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.select label input[type="radio"], 
.select label input[type="checkbox"] {
  display: none;
}

.select label span {
  position: relative;
  background: var(--input-background);
  padding: 3px 18px;
  border: 2px solid var(--orange);
  border-radius: 20px;
  user-select: none;
  display: inline-block;
  width: 100%;
  transition: all 0.3s ease;
} 

.select label span:hover {
  background-color: var(--orange-hover);
}

.select label input[type="radio"]:checked + span, 
.select label input[type="checkbox"]:checked + span {
  background: var(--orange);
  color: white;
}

textarea {
  background: var(--input-background);
  border: 2px solid var(--orange);
  color: var(--input-text);
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  resize: none;
  transition: all 0.5s ease-in;
}

textarea:focus {
  border: 2px solid var(--text);
}

.btn {
  background-color: var(--purple);
  border: none;
  width: 60%;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  border: 2px solid var(--background);
}

.btn:hover {
  color: white;
  text-shadow: 0 0 3px black;
  box-shadow: 0 0 0px 2px var(--orange);
}

footer {
  background-color: var(--text);
  margin-top: 20px;
  padding: 15px 0;
}

footer h4 {
  color: white;
}

@media (max-width: 983px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .mobile-center {
    text-align: center;
    border: none;
  }

  .dotted-bottom {
    border: none;
    background-color: var(--input-background);
  }

}